<html>
    
    <head>
        <title> Find Home! </title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    
    <body>
        <div id="header"> 
            <form> Search City : <input type="text" name="city"> </form>
        </div>
        <h3>  We will help you to live better :) </h3>   
        <div id = "left_menu">
            <h4> Available criteria  <h4>
        </div>
        <div id="footer">
          <p> Creative Commons</p> 
          <a href="malito:notmyrealmail@gmail.com">"Drop a Message!"</a> 
        </div>   
    </body>
</html>
